/* card  */
.cards {
  background-color: #0f281293;
  max-width: 500px;
  width: 100%;
  height: 700px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  /* padding: 5px; */
}

.card {
  /* width: calc(50% - 10px); */
  width: 100px;
  height: 200px;
background-image: url("../images/badge.webp");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  position: relative;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  /* background-color: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card .stat{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  padding-right: 10px;
  /* padding: 0px 10px 0px 0px; */
}

.rating{
  color: blueviolet;
}
.position {
  color: rgb(255, 255, 255);
}

.card .profil {
margin-top: 50px;
  width: 80px;
  height: 80px !important;
  justify-content: center;
  margin:10px auto 0px;
  /* border-bottom: 1px solid gray; */
  display: flex;
  overflow: hidden; /* Hide any overflow */
  justify-content: center;
}
.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}
.card .nationality {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .name {
  font-size: 14px;
  text-align: center;
}

.card p {
  color: #777;
}

.nationality {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.nationality img {
  width: 20px;
  height: auto;
}

.ffthield .card {
  width: 100px;
  height: 150px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  /* padding: 10px; */
  font-size: 12px;
  text-align: center;
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cards.shaking .card {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
/* .fielfthd .stat {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-between;
}
.field .rating,
.field .position {
  margin: 0;
} */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  /* 20% { transform: translate(-3px, 0px) rotate(1deg); } */
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  /* 50% { transform: translate(-1px, 2px) rotate(-1deg); }: */
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  /* 80% { transform: translate(-1px, -1px) rotate(1deg); } */
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.card {
  position: relative;
}
.edit {
  position: absolute;
  right: 0px;
  bottom: -5px;
  width: 20px;
  object-fit: contain;
}
.delete{
  display: inline;
  position: absolute;
  cursor: pointer;
  left: 0px;
  bottom: 0px;

  border: none;
  background-color: transparent;
}

.delete img{
     width: 15px;
     height: 20px;
     object-fit: contain;

}