

/* snipper animation  */

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.cards::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.cards::-webkit-scrollbar-thumb {
  background-color: #000; /* Dark thumb color */
  border-radius: 25px; /* Rounded corners for a modern look */
  border: 3px solid transparent; /* Padding effect */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */}

.cards::-webkit-scrollbar-thumb:hover {
  background: #555; /* Lighter color on hover */
}

/* For Firefox (Gecko engine) */
.cards {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #000000d4 transparent; /* Thumb and track colors */
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}



















/* alert style  */

.alert {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.green-alert {
  color: #5dca13;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.red-alert {
  color: #ef1329d5;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* form style  */

.form-container {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.form-container .form-holder {
  position: relative;
  padding: 20px;
}
.form-container .close {
  position: absolute;
  right: 9px;
  top: 8px;
  width: 25px;
}

.form-container h2 {
  margin: 0 0 20px;
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group img {
  display: block;
  margin: 0 auto 10px;
  border-radius: 50%;
  max-width: 100px;
  height: auto;
}

.form-group input[type="file"] {
  padding: 5px;
}
.buttons-container{
  display: flex;
  justify-content: space-between;
}
.buttons-container button{
  width: 40%;
  padding: 10px;
  border: none;
  color: black;
  background-color: #ccc;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons-container button:hover{
  background-color: #9b9b9b;

}

.form-group button.active {
  background-color: #007bff;
  color: #fff;
}

.form-group button.active:hover {
  background-color: #0056b3;
}


/* card  */
.cards{
  background-color: #c3e6cb;
  width: 500px;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

}
.card .stat{
    position: absolute;
    right: 0px;
    top: 0px;
}
.card .profil{
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
}
.card .nationality{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}