* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html, body {
     min-height: 100%;
     width: 100%;
     font-family: 'Arial', 'Helvetica', sans-serif;
}

html {
     background: linear-gradient(to bottom, rgb(49, 49, 49) 0%, rgba(0,0,0,0.15) 100%), 
                    radial-gradient(at top center, rgba(6, 6, 6, 0.529) 0%, rgba(0,0,0,0.40) 120%) #656464;
     background-blend-mode: multiply, multiply;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

body {
     z-index: 10;
}

.blurred {
     filter: blur(5px);
}

.hidden {
     display: none;
}

nav {
     width: 100%;
     /* height: 80px; */
     color: white;
     padding: 10px 20px;
}

nav a {
     text-decoration: none;
     color: white;
}

.nav-container, .center-all {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.center-all {
     justify-content: center;
}

.actions button, .formation {
     padding: 12px 18px;
     border: none;
     border-radius: 12px;
     background-color: rgb(150, 143, 143);
     color: white;
     font-weight: 600;
     font-size: 17px;
     cursor: pointer;
}

.actions button:hover {
     background-color: rgb(130, 123, 123);
}

.formation option {
     background-color: rgb(150, 143, 143);
     color: white;
}

.formation:focus {
     border-color: rgb(130, 123, 123);
     outline: none;
}
.container {
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     /* padding: 20px; */
     max-width: 1200px;
     width: 100%;
     margin: auto;
}

.container .child {
     max-width: 1200px;
     width: 100%;
}
.container-child{
     max-width: 500px;
     width: 100%;
     border-radius: 24px;

}
.container .field {
     padding: 40px 40px 0;

     height: 700px;
     background-image: url("../images/field.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     overflow: hidden;
     border-radius: 25px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.field .goal-keper, .field .defence div, .field .attack .player-square {
     display: flex;
     align-items: center;
     justify-content: center;
     /* border: 1px solid black; */
}

.field .goal-keper {
     height: 25%;
     width: 25%;
}

.field .defence {
     height: 25%;
     display: flex;
}

.field .defence div {
     width: 25%;
}

.field .attack {
     height: 50%;
     display: flex;
     flex-wrap: wrap;
}

.field .attack .player-square {
     width: 33%;
}

.field .attack.for-two .player-square:nth-child(1),
.field .attack.for-two .player-square:nth-child(2) {
     width: 50%;
}

.field .attack.for-two .player-square {
     width: 25%;
}

.goal-keper{
     margin: auto;
}













































/* //   add player form  */




/* form style  */

.form-container {
     position: absolute;
     z-index: 1000;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     width: 400px;
   }
   .form-container .form-holder {
     position: relative;
     padding: 20px;
   }
   .form-container .close {
     position: absolute;
     right: 9px;
     top: 8px;
     width: 25px;
   }
   
   .form-container h2 {
     margin: 0 0 20px;
     text-align: center;
     color: #333;
   }
   
   .form-group {
     margin-bottom: 15px;
   }
   
   .form-group label {
     display: block;
     font-weight: bold;
     margin-bottom: 5px;
     color: #555;
   }
   
   .form-group input,
   .form-group select {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
   }
   
   .form-group img {
     display: block;
     margin: 0 auto 10px;
     border-radius: 50%;
     max-width: 100px;
     height: auto;
   }
   
   .form-group input[type="file"] {
     padding: 5px;
   }
   .buttons-container {
     display: flex;
     justify-content: space-between;
   }
   .buttons-container button {
     width: 40%;
     padding: 10px;
     border: none;
     color: black;
     background-color: #ccc;
     font-size: 16px;
     border-radius: 5px;
     cursor: pointer;
   }
   .buttons-container button:hover {
     background-color: #9b9b9b;
   }
   
   .form-group button.active {
     background-color: #007bff;
     color: #fff;
   }
   
   .form-group button.active:hover {
     background-color: #0056b3;
   }
   